# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
# Secret used by Better Auth. You can generate a new secret using the following command:
# openssl rand -base64 32
BETTER_AUTH_SECRET="o13IdEXeGARVMmqGCoOGI+C/ackEEBBe9NCLwablfFE="
# Base URL of your app
BETTER_AUTH_URL="http://localhost:3000"

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/modern-nextjs-stack"
